/* Global Style Starts*/
body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

header, footer, section {
    display: block;
}

section, header {
    margin-bottom: 7%;
}

h1 {
    font-size: 6em;
    line-height: 1.2em;
}

h2 {
    font-size: 3.5em;
}

h3 {
    font-size: 2em;
}

p, input {
    font-size: 1.6em;
    line-height: 1.6em;
}

a {
    text-decoration: none;
}

form {
    display: block;
}

.primary-btn {
    background: #0be881;
    font-size: 1.5em;
    font-weight: 700;
    color: #fff;
    padding: 15px 20px;
    border-radius: 10px;
}

.flex {
    display: flex;
}

small {
    font-size: 1.2em;
}

/* Global Style End*/

header {
    background-image: url(../images/hero_bg.jpg);
    background-repeat: no-repeat;
    padding: 10% 0;
    text-align: center;
    color: white;
}

header p {
    padding: 0 30%;
    margin-bottom: 50px;

}

header h1 {
    padding: 0 20%;

}


.donation-plan {
    color: #222;
    text-align: center;
}

.donation-plan p {
    padding: 0 30%;
    margin-bottom: 50px;

}

.price-box {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 120px;
}

.price-box a {
    background: #f5f5f5;
    padding: 1.3em 1em;
    margin: 50px 10px;
    font-size: 2.5em;
    font-weight: 600;
    color: #555;
    font-weight: 800;
    border-radius: 10px;
}


.price-box #active {
    background: #bcffe0;
    color: #0be881;
    border: 3px solid #0be881;
    border-bottom: 2px solid #0be881;
}


#other-amount-btn {
    border: none;
    cursor: pointer;
}

#other-amount-input {
    width: 100%;
    width: 1030px;
    margin-bottom: 20px;
    text-align: center;
    height: 50px;
    border-style: hidden hidden groove hidden;
    outline: none;
    color: #999;
    font-size: 1.4em;
}

.donation-type, .newsletter {
    padding: 0 10%;
}


.donation-type > h2, .donation-type > p, .newsletter > p, .newsletter > h2 {
    padding: 0 25%;
    text-align: center;
}

.donate-box {
    margin: 15px;
    border-radius: 10px;
    padding: 60px 30px;
}

.donate-box img {
    width: 20%;
}

.donate-box p {
    color: #555;
}

#blue-box {
    background: #00bfff1c;
}

#green-box {
    background: #0be8817a;
}

#orange-box {
    background: #fa807247;
}

.news-form {
    display: flex;
    justify-content: center;
    background: #f5f5f5;
    margin: 3% 20%;
    padding: 5% 0;
}

#news-email {
    border-radius: 5px 0px 0px 5px;
    border-style: groove;
    border: 1px solid #0be881;
}


#subscribe-btn {
    border: none;
    font-size: 1.2em;
    background: #0be881;
    color: #fff;
    padding: 11px 20px 5px;
    margin-left: -4px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}


.blog {
    background: url(../images/counter.png);
    background-repeat: no-repeat;
    padding: 5% 20%;
}

.blog > h2 {
    text-align: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
    color: #fff;
}

.blog > h3 {
    font-size: 1.5em;
}

.blog p {font-size: 1.2em;}


.blog img {
    width: 100%;
}

.blog-item {
    background: #fff;
    border-radius: 10px;
    margin: 1%;
    padding: 2%;
}

.blog a {
    color: #0be881;
}

footer {
    text-align: center;
    background: #222;
    color: #fff;
    padding: 1% 0;
}

footer h3 {
    font-family: 'Lobster', cursive;
    color: #0be881;
}

