/* Global Style Starts*/
body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

header, footer, section {
    display: block;
}

h1 {
    font-size: 6em;
    line-height: 1.2em;
}

h2 {
    font-size: 4em;
}

p, input {
    font-size: 1.6em;
    line-height: 1.6em;
}

a {
    text-decoration: none;
}

form {
    display: block;
}

.primary-btn {
    background: #0be881;
    font-size: 1.7em;
    font-weight: 600;
    color: #fff;
    padding: 20px 40px;
    border-radius: 10px;
}

/* Global Style End*/


header {
    background-image: url(../images/hero_bg.jpg);
    background-repeat: no-repeat;
    padding: 10% 15%;
    text-align: center;
    color: white;
}

header p, .donation-plan p {
    padding: 0 20%;
    margin-bottom: 50px;

}

.donation-plan {
    color: #222;
    text-align: center;
}

.price-box {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 120px;
}

.price-box a {
    background: #f5f5f5;
    padding: 1.3em 1em;
    margin: 50px 10px;
    font-size: 2.5em;
    font-weight: 600;
    color: #555;
    font-weight: 800;
    border-radius: 10px;
}


.price-box #active {
    background: #bcffe0;
    color: #0be881;
    border: 3px solid #0be881;
    border-bottom: 2px solid #0be881;
}


#other-amount-btn {
    border: none;
}

#other-amount-input {
    width: 100%;
    width: 1030px;
    margin-bottom: 20px;
    text-align: center;
    height: 50px;
    border-style: hidden hidden groove hidden;
    outline: none;
}